.cache/
.env
.idea/
**/.cache/
**/.idea/
Compare/
ExtractedData/Local
ExtractedData/Prod
ExtractedData/Staging
ExtractedData/Test
Extractors/
HasDataProd/HasDataBH/Results/
HasDataProd/HasDataLivcor/Results/
HasDataProd/HasDataWinterWood/Results/
HasDataStage/HasDataBH/Results/
HasDataStage/HasDataLivcor/Results/
HasDataStage/HasDataWinterWood/Results/
HasDataTest/HasDataBH/Results/
Resources/Mappings/
logs/
/results/
geckodriver.log
ghostdriver.log
scripts/
*.pyc
**/.DS_Store
.iml
